
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">

        <h2>閲覧履歴</h2>

        <% @histories.each do |history| %>
          <div class="item">
            <%= link_to post_path(history.post.id) do %>
              <%= attachment_image_tag history.post, :post_image, size: "200x200", align: "left", class: "img item-img" %><br>
              <h3 class="link"><%= history.post.post_title %></h3>
            <% end %>
            <p><%= history.post.category.category_name %>|<%= history.post.rate %>点</p><br>
            <p>投稿者:
              <%= link_to user_path(history.id), class: "link" do %>
                <%= history.user.user_name %>
              <% end %>
            </p><br clear="left">
          </div>
        <% end %>

        <%= paginate @histories, class: "paginate" %>

      </div>
    </div>
  </div>
