<div class="container text-center">
  <div class="row">

    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"register-form", placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class:"register-form", placeholder: "パスワード" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", :class=>"btn" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
