

<div class="container">
  <div class="row">
    <h2>マイページ</h2>
    <h2>登録情報</h2>
    <%= link_to "編集", edit_user_path, class: "btn btn-warning" %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>logout
    <% end %>
    <%= link_to "パスワード変更する", "#", class: "btn btn-info" %>
  </div>

  <div class="row">
    <div class="col-md-5">
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <td class="active">プロフィール画像</td>
          <td><%= @user.profile_image_id %></td>
        </tr>
        <tr>
          <td class="active">ニックネーム</td>
          <td>
            <%= @user.user_name %>
          </td>
        </tr>
        <tr>
          <td class="active">メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

  <div class="row">
    <h4>お気に入り</h4><%= link_to "一覧を見る", "#", class: "btn btn-success col-md-2" %>
  </div>
  <div class="row">
    <h4>閲覧履歴</h4><%= link_to "一覧を見る", "#", class: "btn btn-success col-md-2" %>
  </div>
</div>
