

<div class="container">
  <div class="row">
    <h2>マイページ</h2>
    <h2>登録情報</h2>
    <% if @user.id == current_user.id %>
      <p>
        <%= link_to edit_user_path(@user.id) do %>
          <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>logout
        <% end %>
      </p>
    <% else %>
      <%= render 'relationships/follow', user: @user %>
    <% end %>
</div>

  <div class="row">
    <div class="col-md-5">
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <td class="active">プロフィール画像</td>
          <td><%= @user.profile_image_id %></td>
        </tr>
        <tr>
          <td class="active">ニックネーム</td>
          <td>
            <%= @user.user_name %>
          </td>
        </tr>
        <% if @user.id == current_user.id %>
          <tr>
            <td class="active">メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
        <% end %>
        <tr>
          <th>フォロー</th>
          <th>
            <%= link_to user_following_path(@user.id) do %>
              <%= @user.followings.count %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>フォロワー</th>
          <th>
            <%= link_to user_followers_path(@user.id) do %>
              <%= @user.followers.count %>
            <% end %>
          </th>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

  <div class="row">
    <h4>お気に入り</h4><%= link_to "一覧を見る", user_like_path(@user.id), class: "btn btn-success col-md-2" %>
  </div>
  <div class="row">
    <h4>閲覧履歴</h4><%= link_to "一覧を見る", "#", class: "btn btn-success col-md-2" %>
  </div>
</div>
