
  <div class="container">
    <div class="row">
      <%= render 'homes/left_list', categorys: categorys %>
      <div class="col-md-8">
        <h2>新着一覧</h2>
        <% @posts.each do |post| %>
          <h3>
            <%= link_to post_path(post.id) do %>
              <%= post.post_title %><br>
            <% end %>
          </h3>
          <%= attachment_image_tag post, :post_image, size: "200x200", align: "left" %><br>
          <h4>タイトル:<%= post.post_title %></h4><br>
          <h4>カテゴリー:<%= post.category.category_name %></h4><br>
          <h4>評価:<%= post.rate %>点</h4><br clear="left">
        <% end %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
