
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 text-center">

        <% if @post_review.errors.any? %>
          <ul>
            <% @post_review.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with(model: [@post, @post_review], local: true) do |f| %>
          <div id="comment_button_<%= @post.id %>">
            <%= f.text_field :title, class: "post-title text-center", placeholder: "タイトル(35字以内)" %><br>
            <%= f.text_area :comment, class: "comment text-center",placeholder: "この投稿にコメントをしよう！(300字以内)" %><br>
            <%= f.submit "送信する", data: {disable_with: "submitting..."} %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
