
<li>
  <%= link_to user_path(@user.id), class: "link comment" do %>
    <%= post_review.user.user_name %><br>
  <% end %>
  <%= post_review.title %><br>
  <%= post_review.comment %><br>
  <% if post_review.user == current_user || current_user.admin == true %>
    <%= link_to "削除する", post_post_reviews_path(post), method: :delete, remote: true %>
  <% else %>
    <%= link_to "通報する", new_report_path(post_review_id: post_review.id) %>
  <% end %>
</li>
