
  <table class="table table-bordered">
    <thody class="commentws-index">
      <tr>
        <td>
          <div>
            <%= link_to user_path(post_comment.user.id), class: "link" do %>
              <%= post_comment.user.user_name %>
            <% end %>
            <span class="comment-link">
              <% if user_signed_in? && post_comment.user == current_user %>
                <%= link_to "削除する", post_post_comment_path(post_id: post_comment.post.id, post_comment_id: post_comment.id), class: "link", method: :delete, remote: true %><br>
              <% elsif user_signed_in? && current_user.admin == true %>
                <%= link_to "削除する", post_post_comment_path(post_id: post_comment.post.id, post_comment_id: post_comment.id), class: "link", method: :delete, remote: true %><br>
              <% elsif user_signed_in? %>
                <%= link_to "通報する", new_report_path(post_comment_id: post_comment.id), class: "link" %><br>
              <% end %>
            </span>
          </div>
          <div class="time">
            <%= post_comment.created_at.to_s(:datetime_jp) %>にコメント済み
          </div>
          <div class="comment-title center">
            <strong><%= post_comment.title %></strong>
          </div>
          <div><%= post_comment.comment %></div>
        </td>
      </tr>
    </thody>
  </table>
