
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 text-center">
        <h2>投稿編集</h2>

          <% if @post.errors.any? %>
            <ul>
              <h4><%= flash[:alert] %></h4>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          <% end %>

          <%= form_with(model: @post, url: post_path, local: true) do |f| %>
            <ul>
              <li>商品画像</li>
              <li><%= f.attachment_field :post_image %></li>
              <li>商品名(30文字以内)</li>
              <li><%= f.text_field :post_title, class: "post-title" %></li>
              <li>商品カテゴリー <%= f.collection_select(:category_id, @categorys, :id, :category_name, {prompt: "--選択してください--"} ) %></li>
              <li>香り <%= f.select :aroma, [["1", 1],["2", 2],["3", 3],["4",4],["5",5]], prompt:"香り" %></li>
              <li>酸味 <%= f.select :acidity, [["1", 1],["2", 2],["3", 3],["4",4],["5",5]], prompt:"酸味" %></li>
              <li>コク <%= f.select :rich, [["1", 1],["2", 2],["3", 3],["4",4],["5",5]], prompt:"コク" %></li>
              <li>苦味 <%= f.select :bitterness, [["1", 1],["2", 2],["3", 3],["4",4],["5",5]], prompt:"苦味" %></li>
              <li>商品評価(英数字0~100まで)</li>
              <li><%= f.text_field :rate, class: "text-center", placeholder: "0〜100" %></li>
              <li>商品説明(おすすめポイントなど)(200字以内)</li>
              <li><%= f.text_area :body, class: "comment" %></li>
              <li>※すべての項目が必須項目です。</li>
              <%= f.submit "投稿する", :class=>"btn" %>
            </ul>
          <% end %>
      </div>
    </div>
  </div>
