
  <div class="container">
    <div class="row">

      <%= render 'homes/list' %>

      <div class="col-xs-12 col-md-9 list">

        <h4><%= flash[:success] %></h4>

        <% if params[:id] %>
          <h2><%= @category.category_name %>(全<%= @posts.count %>件)</h2>
        <% else %>
          <h2>全て(全<%= @posts.count %>件)</h2>
        <% end %>

        <%= render 'post', posts: @posts %>

        <%= paginate @posts %>

      </div>
    </div>
  </div>
