

  <%= render 'list', post: @post, user: @user, category: @category %>

  <% if user_signed_in? %>
    <div id="likes_buttons_<%= @post.id %>">
      <%= render 'like', post: @post %>
    </div>
    <%= link_to "コメントする", new_post_post_reviews_path(@post.id) %>
  <% end %>

  <% if current_user == @post.user %>
    <%= link_to "編集する", edit_post_path %>
    <%= link_to "削除する", post_path, method: :delete, data: { confirm: '本当に削除しますか?' } %>
  <% elsif current_user.admin ==true %>
    <%= link_to "削除する", post_path, method: :delete, data: { confirm: '本当に削除しますか?' } %>
  <% else %>
    <%= link_to "通報する", new_report_path(post_id: @post.id) %>
  <% end %>


  <ul id="list">
  <% @post_reviews.each do |post_review| %>
    <div id="comments_buttons_<%= post_review.id %>">
      <%= render 'post_review', post_review:post_review, post:@post %>
    </div>
  <% end %>
  </ul>
