
<div class="comtainer">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
      <h2>カテゴリー編集</h2>

        現在のカテゴリー名:<%= @category.category_name %>

        <%= form_with(model: @category, url: category_path, lacal: true) do |f| %>
          <% if @category.errors.any? %>
            <ul>
              <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          <% end %>
          
          新しいカテゴリー名:<%= f.text_field :category_name, value: "", placeholder:"カテゴリー名" %>
          <%= f.submit "変更を保存する" %>
        <% end %>
    </div>
  </div>
</div>
