
  <div class="comtainer">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 text-center">
        <h2>カテゴリー作成</h2>

          <h4><%= flash[:success] %></h4>

          <% if @category.errors.any? %>
            <ul>
              <h4><%= flash[:alert] %></h4>
              <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          <% end %>

          <%= form_with(model: @category, url: categorys_path, local: true) do |f| %>
            <%= f.text_field :category_name, placeholder:"カテゴリー名(15字以内)", class: "category-form" %>
            <%= f.submit "追加", :class=>"category-btn" %>
          <% end %>

        <h2>カテゴリー一覧</h2>

        <table class="table table-bordered">
          <tbody>
            <% @categorys.each do |category| %>
              <tr>
                <td>
                  <strong><%= category.category_name %></strong>
                  <%= link_to "編集する", edit_category_path(category.id), class: "btn active" %>
                  <%= link_to "削除する", category_path(category.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn active" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
