
  <div class="comtainer">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 text-center">
        <h2>カテゴリー作成</h2>

          <% if @category.errors.any? %>
            <ul>
              <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          <% end %>

          <%= form_with(model: @category, url: categorys_path, local: true) do |f| %>
            <%= f.text_field :category_name, placeholder:"カテゴリー名(15字以内)" %>
            <%= f.submit "追加" %>
          <% end %>

        <h2>カテゴリー一覧</h2>

          <% @categorys.each do |category| %>
            <ul>
              <li class="link-list"><%= category.category_name %></li>
              | <%= link_to "編集する", edit_category_path(category.id), class: "link" %>
              | <%= link_to "削除する", category_path(category.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "link" %>
            </ul>
          <% end %>

      </div>
    </div>
  </div>
