
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4><%= flash[:alert] %></h4>
        <h4><%= flash[:success] %></h4>
        <table class="table table-bordered">
          <tbody>
            
            <tr>
              <th class="center">報告者</th>
              <th class="center">コメント作成者</th>
              <th class="center">タイトル</th>
              <th class="center">通報内容</th>
            </tr>

            <% @reports.each do |report| %>
              <% if report.post_id == nil %>
                <tr>
                  <td>
                    <%= link_to user_path(report.user.id), class: "link" do %>
                      <%= report.user.user_name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_path(report.post_comment.user.id), class: "link" do %>
                      <%= report.post_comment.user.user_name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to post_path(report.post_comment.post.id), class: "link" do %>
                      <%= report.post_comment.title %>
                    <% end %>
                  </td>
                  <td>
                    <%= report.body %>
                  </td>
                  <td><%= link_to "削除する", report_path(report.id), class: "link", method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
                </tr>
              <% end %>
            <% end %>

            <tr>
              <th class="center">報告者</th>
              <th class="center">投稿作成者</th>
              <th class="center">商品名</th>
              <th class="center">通報内容</th>
            </tr>

            <% @reports.each do |report| %>
              <% if report.post_id != nil %>
                <tr>
                  <td>
                    <%= link_to user_path(report.user.id), class: "link" do %>
                      <%= report.user.user_name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_path(report.post.user.id), class: "link" do %>
                      <%= report.post.user.user_name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to post_path(report.post.id), class: "link" do %>
                      <%= report.post.post_title %>
                    <% end %>
                  </td>
                  <td>
                    <%= report.body %>
                  </td>
                  <td><%= link_to "削除する", report_path(report.id), class: "link", method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

        <%= paginate @reports %>

      </div>
    </div>
  </div>
