

    <%= link_to root_path do %>
      <span class="navbar-brand">C&C</span>
    <% end %>


          <div class="search">
            <%= render 'posts/search' %>
          </div>
          <div class="count">
            現在<%= post_count %>件の口コミが投稿されています！
          </div>

        <ul class="nav-list">
          <li class="nav-item">
            <%= link_to "投稿一覧", posts_path, class: "first link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ランキング", rank_path, class: "link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新着一覧", homes_path, class: "link" %>
          </li>

          <% if user_signed_in? && current_user.admin == true %>
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user.id), class: "link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link" %>
            </li>
            <li class="nav-item">
              <%= link_to "カテゴリー作成", categorys_path, class: "link" %>
            </li>
            <li class="nav-item">
              <%= link_to "通報", reports_path, class: "link" %>
            </li>
          <% elsif user_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user.id), class: "link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "link" %>
            </li>
          <% end %>
        </ul>
