<!DOCTYPE html>
<html>
  <head>
    <title>C&C</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @user.admin == true %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/user_header' %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
