<!DOCTYPE html>
<html>
  <head>
    <title>C&C</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= link_to "C&C", root_path, class: "title" %>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <ul class="footer">
        <li class="link-list">
          <%= link_to "Home", root_path, class: "link" %> |
        </li>
        <% if user_signed_in? %>
          <li class="link-list">
            <%= link_to "マイページ", user_path(current_user.id), class: "link" %> |
          </li>
        <% end %>
        <li class="link-list">
          <%= link_to "プライバシーポリシー", "#", class: "link" %> |
        </li>
        <li class="link-list">
          <%= link_to "利用規約", "#", class: "link" %>
        </li>
        <li class="item">@ 2020.C&C.com</li>
      </ul>
    </footer>

  </body>
</html>
